{% extends 'base.html.twig' %}

{% block title %}Hello AdrienController!{% endblock %}

{% block body %}

<br><br>
<div class="card text-white bg-secondary mb-3 col-6 mx-auto" style="max-width: 20rem" margin="center";>
  <div class="card-header">Informations</div>
  <div class="card-body">
    <h4 class="card-title">Vous êtes : <strong>{{ vuser }}</strong> </h4>
    <p class="card-text">Voici votre mot de passe : {{ vmdp }} <br> </p>
    <p>Votre sesion est la session n°{{ profidd }}</p>
  </div>
</div>

{% endblock %}
