{% extends 'base.html.twig' %}

{% block title %}Hello AdrienController!{% endblock %}

{% block body %}

<br><br>
<div class="card text-black bg-secondary mb-3 col-6 mx-auto" style="max-width: 20rem" margin="center";>
  <div class="card-header">Informations</div>
  <div class="card-body">
    <h4 class="card-title">Vous êtes : <bold>{{ vuser }}</bold> </h4><br>
    <p class="card-text">Voici votre mot de passe : {{ vmdp }} <br> </p>
    <p>Votre session est la session n°{{ profidd }}</p>
  </div>
</div>

{% endblock %}
