{% extends 'base.html.twig' %}

{% block title %}Hello AdrienController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue {{ controller_name }}! ✅</h1>

    Voici:
    <ul>
        <li>Le controller : <code><a href="{{ '/home/etudrt/M4207CservgeraldesD2/src/Controller/AdrienController.php'|file_link(0) }}">src/Controller/AdrienController.php</a></code></li>
        <li>Le fichier base : <code><a href="{{ '/home/etudrt/M4207CservgeraldesD2/templates/adrien/index.html.twig'|file_link(0) }}">templates/adrien/index.html.twig</a></code></li>
<br>
<form method="post" action="/formget">
  <fieldset>
    <div class="form-group row>
        <label for="username" class="form-label mt-4">Nom d'utilisateur :</label>
        <input type="username" class="form-control" id="username" name="username" placeholder="Utilisateur">
    </div>
    <div class="form-group">
      <label for="password" class="form-label mt-4">Mot de passe :</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe">
    </div>
    <div>
        <br><button type="submit" class="btn btn-primary">Soumettre</button>
    </div>
  </fieldset>
</form>




{% endblock %}
