{% extends 'base.html.twig' %}

{% block title %}Hello AdrienController!{% endblock %}

{% block body %}

<br><br><br>
<div class="card text-black bg-secondary mb-3 col-6 mx-auto" margin="center";>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Chemin</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
	{% for item in listefichier %}
    <tr class="table">
      <th scope="row">{{ item.id }}</th>
      <th scope="row">{{ item.chemin }}</th>
      <th scope="row">{{ item.date |date("d/m/Y")}}</th>
    </tr>
  </tbody>
  {% endfor %}
</table>
</div>
{% endblock %}